<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhuc.mapper.EmpMapper">


    <resultMap id="empResultMap" type="com.lhuc.pojo.Emp">
        <id property="emp_no" column="EMPNO"/>
        <result property="e_name" column="ENAME"/>
        <result property="job" column="JOB"/>
        <result property="mgr" column="MGR"/>
        <result property="hire_date" column="HIREDATE"/>
        <result property="sal" column="SAL"/>
        <result property="comm" column="COMM"/>
        <result property="dept_no" column="DEPTNO"/>
    </resultMap>


    <!-- SQL片段，可以复用 -->
    <sql id="emp_column">
        EMPNO
        ,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO
    </sql>


    <!-- 演示分页查询 -->
    <select id="getEmpPage" resultMap="empResultMap">
        SELECT
        <include refid="emp_column"></include>
        FROM EMP
    </select>


</mapper>